.bg-primer{
    background-color: #F1F3FF !important;
}

html, body{
    font-family: Helvetica !important;
    box-sizing: border-box;
    margin: 0;
    top: 0;
    left: 0;
}

a{
    text-decoration: none;
    color:#000000 !important;
}

ul{
    list-style-type: none;
}

li{
    margin-right: 24px;
}

.btn-primer {
    background: #5CB85F;
    border-radius: 2px;
    font-weight: bold !important;
    color: #FFFFFF !important;
    padding: 8px 12px !important;
}

.home{
    background-color: #F1F3FF;
    height: 370px;
}

.home h1{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    /* or 54px */

    color: #000000;
}

.home p{
    /* Body/14/Light */

    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */


    color: #000000;
    width: 468px;
}

.navbar{
    padding: 16px 0px;
}

.our-service{
    padding-top: 100px;
}

.our-service h1{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    /* or 150% */

    color: #000000;
    width: 468px;
}

.our-service p{
    width: 468px;

    /* Body/14/Light */

    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */


    color: #000000;
}

.list-services p{
    display: inline;
    margin-left: 8px;
}

.list-services-item{
    margin-bottom: 8px;
}

.why-us{
    padding-top: 100px;
}

.why-us h1{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    /* or 150% */

    color: #000000;
    width: 468px;
}

.why-us p{
    width: 468px;

    /* Body/14/Light */

    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */


    color: #000000;
    margin-bottom: 40px;
}

.card{
    border-radius: 8px;
}

.card h2{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    color: #000000;
    margin-top: 16px;
    margin-bottom: 16px;
}

.card p{
    width: 220px;
    /* Body/14/Light */

    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */


    color: #000000;
    margin-bottom: 0;
}

.card-body{
    padding: 24px;
}

.testimonial{
    padding-top: 100px;
}

.testimonial h1{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */

    color: #000000;
    margin-top: 0;
}

.testimonial p{
    /* Body/14/Light */

    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    color: #000000;
    margin-bottom: 40px;
}

.tns-controls {
    text-align: center;
    margin-top: 24px;
}

.tns-controls [data-controls="prev"] {
    font-size: 15px;
    margin: 0;
    padding: 0;
    height: 32px;
    width: 32px;
    background: transparent;
    border: none;
    border-radius: 50px;
    
}

.tns-controls [data-controls="next"] {
    font-size: 15px;
    margin: 0;
    padding: 0;
    height: 32px;
    width: 32px;
    color: white;
    background: transparent;
    border: 0;
    border-radius: 50px;
    margin-left: 24px;
}

.slide-item{
    width: 619px !important;

    background: #F1F3FF;
    /* Shadow/Low */
    /* padding: 69px 32px; */
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin-right: 16px;
    margin-left: 16px;
    padding: 69px 32px;
    border: none;
    margin-bottom: 0;
}

.slide-item p{
    width: 415px;

    /* Body/14/Light */

    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */


    color: #000000;
}

.slide-item h2{
    /* Body/14/Regular */

    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    color: #000000;
}

.text-testi{
    padding-left: -32px;
}

.cta{
    padding-top: 100px;
}

.cta .container{
    height: 326px;
    left: 136px;
    top: 2078px;

    /* Primary/DarkBlue/04 */

    background: #0D28A6;
    border-radius: 13px;
}

.cta h1{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    /* identical to box height, or 54px */

    text-align: center;

    /* Neutral/01 */

    color: #FFFFFF;
    margin-top: 64px;
}

.cta p{
    /* Body/14/Light */

    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    /* or 143% */

    /* Neutral/01 */;
    color: #FFFFFF;
    margin-top: 16px;
}

.cta button{
    margin-top: 52px;
}

.faq{
    padding-top: 100px;
}

.faq h1{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */


    color: #000000;
}

.faq p{
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    color: #000000;
}

.accordion-item{
    margin-bottom: 16px;
    border: 1px solid #D4D4D4 !important;
}

.address p{
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */


    color: #000000;
    margin-bottom: 16px;
}

.link-footer a{
    text-decoration: none;
    /* Body/14/Regular */

    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    color: #000000;
}

.link-footer li{
    margin-bottom: 16px;
}

.sosmed p{
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */


    color: #000000;
    margin-bottom: 16px;
}

.sosmed li{
    margin-right: 0;
    border: none;
}

.sosmed .list-group-item{
    padding: 0 !important;
    margin-right: 16px;
}

.copyright p{
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */


    color: #000000;
    margin-bottom: 16px;
}

footer{
    padding-top: 150px;
    margin-bottom: 100px;
}

.img-mobil-kecil{
    display: none;
}

/* // Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) {
    /* Navbar */
    .navbar{
        padding: 16px 0px !important;
    }

    /* Home */
    .home {
        display: flex;
        justify-content: center;
        height: 680px;
    }

    .home h1{
        width: 490px;
        text-align: center;
    }

    .home button{
        margin-top: 16px;
        margin-left: 150px;
    }

    .img-mobil{
        display: none !important;
    }

    .img-mobil-kecil{
        display: block;
        width: 100%;
        margin-bottom: 16px;
    }

    /* Our Service */
    .our-service{
        
    }

    .cont-img-service{
        display: flex;
        justify-content: center;
    }

    .cont-txt-service h1{
        margin-top: 16px;
        text-align: center;
    }

    .cont-txt-service p{
        text-align: center;
    }
    .list-services{
        margin-left: 20%;
    }

    .img-service{
        width: 80%;
    }

    /* Why Us */
    .cont-txt-why{
        text-align: center;
    }

    .cont-card{
        flex: 0 0 auto;
        width: 50%;
        margin-top: 1rem !important;
    }

    .cont-card p{
        width: 100%;
    }

    /* CTA */
    .cta button{
        margin-top: 0;
    }

    /* FAQ */
    .cont-txt-faq{
        text-align: center !important;
    }

    /* Footer */
    .address{
        flex: 0 0 auto;
        width: 50%;
    }

    .link-footer{
        flex: 0 0 auto;
        width: 50%;
    }

    .sosmed{
        flex: 0 0 auto;
        width: 50%;
    }

    .copyright{
        padding-left: 40px;
        flex: 0 0 auto;
        width: 50%;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    /* Navbar */
    .navbar{
        padding: 16px 116px !important;
    }

    /* Home */
    .img-mobil{
        display: none !important;
    }

    .home {
        display: flex;
        justify-content: center;
    }
    .home h1{
        text-align: center;
    }

    .home p{
        text-align: center;
    }

    

}

/* // Large devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    /* Navbar */
    .navbar{
        padding: 16px 0px !important;
    }

    /* Home */
    
}

/* // X-Large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    /* Navbar */
    .navbar{
        padding: 16px 0px !important;
    }

    /* Home */
    
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media only screen and (max-width: 1400px) {
    /* Navbar */
    .navbar{
        padding: 16px 0px !important;
    }

    /* Home */
    
}