.bg-primer{
    background-color: #F1F3FF !important;
}

html, body{
    font-family: Helvetica !important;
    box-sizing: border-box;
    margin: 0;
    top: 0;
    left: 0;
}

a{
    text-decoration: none;
    color:#000000 !important;
}

ul{
    list-style-type: none;
}

li{
    margin-right: 24px;
}

.btn-primer {
    background: #5CB85F;
    border-radius: 2px;
    font-weight: bold !important;
    color: #FFFFFF !important;
    padding: 8px 12px !important;
}

.navbar{
    padding: 16px 136px;
}