.bg-primer{
    background-color: #F1F3FF !important;
}

html, body{
    font-family: Helvetica !important;
    box-sizing: border-box;
    margin: 0;
    top: 0;
    left: 0;
}

a{
    text-decoration: none;
    color:#000000 !important;
}

ul{
    list-style-type: none;
}

li{
    margin-right: 24px;
}

.btn-primer {
    background: #5CB85F;
    border-radius: 2px;
    font-weight: bold !important;
    color: #FFFFFF !important;
    padding: 8px 12px !important;
}

.home{
    background-color: #F1F3FF;
    height: 370px;
}

.home h1{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    /* or 54px */

    color: #000000;
}

.home p{
    /* Body/14/Light */

    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */


    color: #000000;
    width: 468px;
}

.navbar{
    padding-left: 116px;
    padding-right: 116px;
}